#audio__player {
  /* opacity: 0; */
  justify-content: center;
  align-content: center;
  transition: opacity 2000ms ease-out;
  grid-row-gap: 20px;
  justify-items: center;
}

.audio__progress {
  width: 100%;
  background: var(--blue);
  height: 1px;
  position: relative;
  cursor: pointer;
}

.audio__progress__indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--blue);
  content: "";
  position: absolute;
  top: -5px;
}
