/* SCROLLBAR HIDING */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

/* UTILITY */
.hidden {
  display: none;
  opacity: 0;
  transform: translate(10000px);
}

.hidden * {
  pointer-events: none;
}

.faded {
  opacity: 0 !important;
  pointer-events: none !important;
}

.faded * {
  opacity: 0 !important;
  pointer-events: none !important;
}
