/* WINDOWS */

#windows {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10000;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vw / 9), 1fr));

  grid-auto-rows: calc(12.5vh - var(--gap));
  grid-gap: var(--gap);
  pointer-events: none;
}

.window {
  z-index: 1000;
  background-color: var(--black);
  padding: var(--padding);
  height: 100%;
  width: 100%;
  grid-template-rows: 18px 1fr;
  transition: opacity 250ms ease;
  pointer-events: all;
  grid-row: span 2;
  grid-column: span 2;
}

.window--tall {
  grid-row: span 4 !important;
}

.window--wide {
  grid-column: span 4 !important;
}

.window--narrow {
  grid-column: span 1;
}

.window--active {
  /* z-index: 1005 !important; */
  opacity: 1;
}

.window__title__bar {
  pointer-events: none !important;
  grid-template-columns: 30px 1fr 30px;
  /* padding: 0px 3px; */
}

.window__title {
  text-align: center;
  width: 100%;
}

.window__message {
  align-self: center;
  justify-self: center;
}

@media (max-width: 639px) {
  .window {
    /* background: tomato; */
    position: fixed;
    top: 0;
    left: 0;
  }
}

/* @media (min-width: 640px) {
  .window {
    background: red;
  }
}

@media (min-width: 768px) {
  .window {
    background: blue;
  }
}

@media (min-width: 1024px) {
  .window {
    background: green;
  }
}

@media (min-width: 1280px) {
  .window {
    background: pink;
  }
} */
