/* WINDOWS */

#windows {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10000;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vw / 9), 1fr));
  padding-bottom: 102px;
  grid-auto-rows: calc(12.5% - var(--gap));
  grid-gap: var(--gap);
  pointer-events: none;
  display: flex;
  align-items: flex-start;
}

.window {
  will-change: transform;
  /* height: 300px;
  width: 400px; */
  /* padding: 3px; */
  background: var(--windowBack);
  background: var(--black);
  /* background: red; */
  z-index: 1000000;
  /* border-radius: 0px; */
  pointer-events: all;
  z-index: 1000;
  /* background-color: var(--black);
  padding: var(--padding); */
  /* height: 100%; */
  /* width: 100%; */
  /* grid-template-rows: 18px 1fr; */
  transition: opacity 250ms ease;
  /* pointer-events: all;
  grid-row: span 2;
  grid-column: span 2;
  min-height: 200px;
  min-width: 300px;
  opacity: 0.5; */
}

.window--tall {
  grid-row: span 4 !important;
}

.window--wide {
  grid-column: span 4 !important;
}

.window--narrow {
  grid-column: span 1;
}

.window--active {
  /* z-index: 1005 !important; */
  opacity: 1;
}

.window__title__bar {
  pointer-events: none !important;
  grid-template-columns: 30px 1fr 30px;
  /* padding: 0px 3px; */
}

.window__title {
  text-align: center;
  width: 100%;
}

.window__message {
  align-self: center;
  justify-self: center;
}

.ui__window {
  background: var(--black);
  position: fixed;
  z-index: 1000;
  display: none;
}

#infoPane {
  bottom: 25px;
  left: 25px;
  height: 300px;
  width: 250px;
}

#statPane {
  top: 25px;
  left: 25px;
  height: 75px;
  width: 400px;
}

#statPane2 {
  top: calc(25px + 25px + 75px);
  left: 25px;
  height: 75px;
  width: 250px;
}

#statPane3 {
  top: 25px;
  right: 25px;
  height: 75px;
  width: 250px;
}

#statPane4 {
  top: calc(25px + 25px + 75px);
  right: 25px;
  height: 300px;
  width: 75px;
}

@media (max-width: 639px) {
  .window__title__bar {
    display: none;
  }
  .window {
    /* background: tomato; */
    grid-template-rows: 1fr;
    box-shadow: none !important;
    position: fixed;
    top: 0;
    left: 0;
    border: none !important;
    padding-bottom: calc(50px + calc(100vw / 10 - var(--gap)) + 50px);
  }
}

/* @media (min-width: 640px) {
  .window {
    background: red;
  }
}

@media (min-width: 768px) {
  .window {
    background: blue;
  }
}

@media (min-width: 1024px) {
  .window {
    background: green;
  }
}

@media (min-width: 1280px) {
  .window {
    background: pink;
  }
} */

/* .new__window {
  position: absolute;
  top: 700px;
  left: 700px;
  height: 300px;
  width: 400px;
  padding: 3px;
  background: var(--windowBack);
  background: red;
  z-index: 1000000;
  border-radius: 0px;
}
.new__window:before,
.new__window:after {
  content: "";
  position: absolute;
  bottom: 3px;
  height: 10px;
  width: calc(50% - 2px);
  z-index: 10;
}
.new__window:before {
  left: 3px;
  background: linear-gradient(
    135deg,
    var(--windowMid) 0%,
    var(--windowMid) 50%,
    var(--windowBack) 50%,
    var(--windowBack) 100%
  );
}
.new__window:after {
  right: 3px;
  background: linear-gradient(
    45deg,
    var(--windowBack) 0%,
    var(--windowBack) 50%,
    var(--windowMid) 50%,
    var(--windowMid) 100%
  );
}
.new__window__before {
  display: none;
  top: 0;
  left: 0;
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  background: white;
  z-index: 999999;
}
.new__window__wrapper {
  height: 100%;
  width: 100%;
  background: var(--windowMid);
  position: relative;
  padding: 10px 3px 4px 3px;
}
.new__window__wrapper:before,
.new__window__wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  height: 10px;
  width: 50%;
  z-index: 0;
}
.new__window__wrapper:before {
  left: 0;
  background: linear-gradient(
    45deg,
    var(--windowMid) 0%,
    var(--windowMid) 50%,
    var(--windowBack) 50%,
    var(--windowBack) 100%
  );
}
.new__window__wrapper:after {
  right: 0;
  background: linear-gradient(
    135deg,
    var(--windowBack) 0%,
    var(--windowBack) 50%,
    var(--windowMid) 50%,
    var(--windowMid) 100%
  );
}
.new__window__toolbar {
  border: 1px dashed red;
  height: 10px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.new__window__content {
  background: var(--windowInterior);
  position: relative;
  height: calc(100% - 25px);
  width: 100%;
  margin: 10px 0px 0px 0px;
  margin: 0 auto;
  border: 2px solid var(--windowFront);
  border-top: none;
}

.new__window__title {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 10px;
  height: 18px;
  width: 100%;
  background: var(--windowFront);
  text-transform: uppercase;
  color: white;
  display: flex;
  padding-left: 14px;
  align-items: center;
  position: relative;
}
.new__window__title:before {
  content: "";
  position: absolute;
  background: white;
  height: 4px;
  width: 4px;
  top: 7px;
  left: 5px;
}

.new__window__text {
  font-weight: 300;
  color: white;
  position: absolute;
  z-index: 10000000;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 8px;
  opacity: 0.75;
}
.new__window__toptext {
  top: 3px;
}
.new__window__bottomtext {
  bottom: 3px;
} */
