<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/uyouthe/pwacss/pwacss.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/uyouthe/pwacss/pwacss.min.css"
    />
    <link rel="apple-touch-icon" href="./assets/images/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="./assets/images/icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="FC" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- PWA -->

    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./styles/audio.css" />
    <link rel="stylesheet" href="./styles/controls.css" />
    <link rel="stylesheet" href="./styles/grids.css" />
    <link rel="stylesheet" href="./styles/input.css" />
    <link rel="stylesheet" href="./styles/overlay.css" />
    <link rel="stylesheet" href="./styles/spinner.css" />
    <link rel="stylesheet" href="./styles/utility.css" />
    <link rel="stylesheet" href="./styles/viewports.css" />
    <link rel="stylesheet" href="./styles/windows.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script
      src="https://kit.fontawesome.com/cacada40d0.js"
      crossorigin="anonymous"
    ></script>
    <title>Fleet Commander</title>
  </head>
  <body>
    <button class="control bordered blue__glow padded" id="grid_toggle">
      TOGGLE GRID
    </button>
    grid_center

    <button class="control bordered blue__glow padded" id="grid_center">
      RECENTER
    </button>
    
    <button class="control bordered blue__glow padded" id="snapshot">
      SNAPSHOT
    </button>
    <div id="toggles" class="toggles grid grid--c">
      <!-- WILL BE FILLED WITH CONTROLS PROGRAMMATICALLY -->
    </div>

    <div id="windows" class="padded--">
      <!-- SHOULD BE FILLED WITH WINDOWS PROGRAMMATICALLY -->
      <!-- <div
        id="chat-window"
        style="grid-row: span 2"
        class="window window--tall window--wide grid grid--r bordered draggable"
      >
        <div
          class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
        >
          <button
            id="chat-window-close"
            class="control control--left control--small blue__glow"
          >
            <i class="control__icon control__icon--small far fa-times"></i>
          </button>
          <span class="window__title blue__glow">CHAT</span>
          <button class="control control--right control--small blue__glow">
            <i class="control__icon control__icon--small far fa-bars"></i>
          </button>
        </div>
        <div id="chat__menu" class="chat">
          <div class="inbox bordered bordered--thin padded" id="inbox">
            <div class="inbox__messages grid grid--r">
              <div class="messages__history grid grid--r"></div>
              <div class="fallback"></div>
            </div>
          </div>

          <form class="message_form">
            <span
              class="input input--fluid bordered bordered--thin blue__glow-- white span__input"
              id="message_form_input"
              role="textbox"
              contenteditable
            ></span>
          </form>
        </div>
      </div> -->

      <div
        id="generation-window"
        class="window grid grid--r bordered draggable"
      >
        <div
          class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
        >
          <button
            id="generation-window-close"
            class="control control--left control--small blue__glow"
          >
            <i class="control__icon control__icon--small far fa-times"></i>
          </button>
          <span class="window__title blue__glow">WORLD GENERATION</span>
          <button class="control control--right control--small blue__glow">
            <i class="control__icon control__icon--small far fa-bars"></i>
          </button>
        </div>
        <div class="data__form__container grid grid--c">
        <form
          class="form form--fluid padded data__form"
          id="generationForm"
          v-on:submit="generate"
        >
          <label class="blue__glow" for="generation_size">Universe Size</label>
          <input
            class="input input--center bordered blue"
            id="generation_size"
            name="generation_size"
            type="number"
            min="100"
            max="1000000"
            autocomplete="off"
            v-model="size"
          />
          <label class="blue__glow" for="generation_maxStars">Max Stars</label>
          <input
            class="input input--center bordered blue"
            id="generation_maxStars"
            name="generation_maxStars"
            type="number"
            min="1"
            max="1000000"
            autocomplete="off"
            v-model="maxStars"
          />
          <label class="blue__glow" for="generation_maxStars"
            >Minimum Star Distance</label
          >
          <input
            class="input input--center bordered blue"
            id="generation_minStarDistance"
            name="generation_minStarDistance"
            type="number"
            min="0"
            max="10000"
            autocomplete="off"
            v-model="minimumStarDistance"
          />
          <label class="blue__glow" for="generation_maxStars"
            >Star Edge Distance</label
          >
          <input
            class="input input--center bordered blue"
            id="generation_starEdgeDistance"
            name="generation_starEdgeDistance"
            type="number"
            min="1"
            max="100"
            autocomplete="off"
            v-model="edgeDistance"
          />
          <label class="blue__glow" for="generation_maxGenTime"
            >Max Generation Time (ms)</label
          >
          <input
            class="input input--center bordered blue"
            id="generation_maxGenTime"
            name="generation_maxGenTime"
            type="number"
            min="1"
            max="300000"
            autocomplete="off"
            v-model="maxGenTime"
          />
          <label
            class="blue__glow checkmark__container"
            for="generation_radialUniverse"
            >Radial
            <input
              id="generation_radialUniverse"
              name="generation_radialUniverse"
              type="checkbox"
              v-model="radial"
            />
            <span class="checkmark bordered"></span>
          </label>
          <button
            type="button"
            class="control bordered blue__glow padded"
            v-on:click="reset"
          >
            RESET
          </button>

          <input
            type="submit"
            style="margin-top: 10px"
            class="control bordered blue__glow padded"
            value="GENERATE"
          />
        </form>
        <div class="data__form__data grid grid--r blue__glow" v-if="universe">
          <span>SIZE: {{((universe.size / 100) * (universe.size / 100)).toLocaleString()}} SQUARE LIGHT YEARS</span>
          <span>STARS: {{universe.stars.toLocaleString()}}</span>
          <span>BIGGEST STAR: {{universe.biggestStar.toLocaleString()}}</span>
          <!-- <span>SECTORS: {{universe.sectors}}</span> -->
          <span>SECTOR SIZE: {{(universe.sectorSize / 100).toLocaleString()}} LIGHT YEARS</span>
          <span>GENERATION TIME: {{(universe.generationTime / 1000).toFixed(2)}} SECONDS</span>
          <span>FAILED GENERATION ATTEMPTS: {{universe.extraGenerationLoops.toLocaleString()}}</span>
          <span v-for="starStat in universe.starStats">TYPE {{starStat.type}} STARS: {{starStat.count.toLocaleString()}} / {{(starStat.count / universe.stars * 100).toFixed(2)}}%</span>
        </div>
        </div>
      </div>

      <!-- <div id="audio-window" class="window grid grid--r bordered draggable">
        <div
          class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
        >
          <button
            id="audio-window-close"
            class="control control--left control--small blue__glow"
          >
            <i class="control__icon control__icon--small far fa-times"></i>
          </button>
          <span class="window__title blue__glow">AUDIO</span>
          <button class="control control--right control--small blue__glow">
            <i class="control__icon control__icon--small far fa-bars"></i>
          </button>
        </div>
        <div id="audio__player" class="grid grid--r">
          <div class="audio__controls grid grid--c">
            <button
              id="audioPrevious"
              v-on:click="previous"
              class="control pic__control bordered-- padded blue__glow"
            >
              <i class="control__icon fal fa-backward"></i>
            </button>
            <button
              id="audioPlay"
              class="control pic__control bordered-- padded blue__glow"
              v-on:click="play"
              v-show="!playing"
            >
              <i class="control__icon fal fa-play"></i>
            </button>
            <button
              id="audioPause"
              class="control pic__control bordered-- padded blue__glow"
              v-on:click="pause"
              v-show="playing"
            >
              <i class="control__icon fal fa-pause"></i>
            </button>
            <button
              id="audioNext"
              class="control pic__control bordered-- padded blue__glow"
              v-on:click="next"
            >
              <i class="control__icon fal fa-forward"></i>
            </button>
          </div>
          <div class="audio__progress">
            <div
              id="audio__progress__indicator"
              class="audio__progress__indicator"
            ></div>
          </div>
          <span class="blue__glow">{{trackName}}</span>
        </div>
      </div> -->

      <!-- <div id="sector-window" class="window grid grid--r bordered draggable">
          <div
            class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
          >
            <button
              id="sector-window-close"
              class="control control--left control--small blue__glow"
            >
              <i class="control__icon control__icon--small far fa-times"></i>
            </button>
            <span class="window__title blue__glow">SECTOR</span>
            <button class="control control--right control--small blue__glow">
              <i class="control__icon control__icon--small far fa-bars"></i>
            </button>
          </div>
          <p class="blue__glow window__message">SECTOR INFORMATION OFFLINE</p>
        </div> -->

      <!-- <div
          id="solar-system-window"
          class="window grid grid--r bordered draggable"
        >
          <div
            class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
          >
            <button
              id="solar-system-window-close"
              class="control control--left control--small blue__glow"
            >
              <i class="control__icon control__icon--small far fa-times"></i>
            </button>
            <span class="window__title blue__glow">SOLAR SYSTEM</span>
            <button class="control control--right control--small blue__glow">
              <i class="control__icon control__icon--small far fa-bars"></i>
            </button>
          </div>
          <p class="blue__glow window__message">
            SOLAR SYSTEM INFORMATION OFFLINE
          </p>
        </div> -->

      <!-- <div id="star-window" class="window grid grid--r bordered draggable">
          <div
            class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
          >
            <button
              id="star-window-close"
              class="control control--left control--small blue__glow"
            >
              <i class="control__icon control__icon--small far fa-times"></i>
            </button>
            <span class="window__title blue__glow">STAR</span>
            <button class="control control--right control--small blue__glow">
              <i class="control__icon control__icon--small far fa-bars"></i>
            </button>
          </div>
          <p class="blue__glow window__message">STAR INFORMATION OFFLINE</p>
        </div> -->

      <!-- <div id="planet-window" class="window grid grid--r bordered draggable">
          <div
            class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
          >
            <button
              id="planet-window-close"
              class="control control--left control--small blue__glow"
            >
              <i class="control__icon control__icon--small far fa-times"></i>
            </button>
            <span class="window__title blue__glow">PLANET</span>
            <button class="control control--right control--small blue__glow">
              <i class="control__icon control__icon--small far fa-bars"></i>
            </button>
          </div>
          <p class="blue__glow window__message">PLANET INFORMATION OFFLINE</p>
        </div> -->

      <div
        style="display: none"
        id="ship-window"
        class="window grid grid--r bordered draggable"
      >
        <div
          class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
        >
          <button
            id="ship-window-close"
            class="control control--left control--small blue__glow"
          >
            <i class="control__icon control__icon--small far fa-times"></i>
          </button>
          <span class="window__title blue__glow">SHIP</span>
          <button class="control control--right control--small blue__glow">
            <i class="control__icon control__icon--small far fa-bars"></i>
          </button>
        </div>
        <div class="control__grid grid">
          <button id="scan" class="control bordered padded blue__glow">
            SCAN
          </button>
          <button
            id="new_destination"
            class="control bordered blue__glow padded"
            style="display: none"
          >
            DSTN
          </button>
          <button id="launch" class="control bordered blue__glow padded">
            LAUNCH
          </button>
          <button id="deselect" class="control bordered blue__glow padded">
            DESELECT SHIP
          </button>
        </div>
      </div>

      <!-- <div
          id="encyclopedia-window"
          class="window window--tall grid grid--r bordered draggable"
        >
          <div
            class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
          >
            <button
              id="encyclopedia-window-close"
              class="control control--left control--small blue__glow"
            >
              <i class="control__icon control__icon--small far fa-times"></i>
            </button>
            <span class="window__title blue__glow">ENCYCLOPEDIA</span>
            <button class="control control--right control--small blue__glow">
              <i class="control__icon control__icon--small far fa-bars"></i>
            </button>
          </div>
          <p class="blue__glow window__message">ENCYCLOPEDIA SERVICE OFFLINE</p>
        </div> -->

      <!-- <div id="mail-window" class="window grid grid--r bordered draggable">
          <div
            class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
          >
            <button
              id="mail-window-close"
              class="control control--left control--small blue__glow"
            >
              <i class="control__icon control__icon--small far fa-times"></i>
            </button>
            <span class="window__title blue__glow">MAIL</span>
            <button class="control control--right control--small blue__glow">
              <i class="control__icon control__icon--small far fa-bars"></i>
            </button>
          </div>
          <p class="blue__glow window__message">MAIL SERVICE OFFLINE</p>
        </div> -->

      <!-- <div id="profile-window" class="window grid grid--r bordered draggable">
        <div
          class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
        >
          <button
            id="profile-window-close"
            class="control control--left control--small blue__glow"
          >
            <i class="control__icon control__icon--small far fa-times"></i>
          </button>
          <span class="window__title blue__glow">PROFILE</span>
          <button class="control control--right control--small blue__glow">
            <i class="control__icon control__icon--small far fa-bars"></i>
          </button>
        </div>
        <form
          v-on:submit="signIn"
          class="form form--fluid padded"
          id="signInForm"
          v-if="!user"
        >
          <input
            class="input input--center bordered blue"
            id="signInUsername"
            type="text"
            autocomplete="off"
            placeholder="CALL SIGN"
            v-model="username"
            v-on:keydown="clearError"
          />
          <input
            class="input input--center bordered blue"
            id="signInPassword"
            type="password"
            placeholder="PASSWORD"
            v-model="password"
            v-on:keydown="clearError"
          />
          <button class="control bordered blue__glow padded">SIGN IN</button>
          <span id="formError" class="form__error red__glow">{{error}}</span>
        </form>
        <div class="spinner" v-else-if="user">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div> -->

      <!-- <div
        id="users-window"
        class="window window--narrow grid grid--r bordered draggable"
      >
        <div
          class="window__title__bar grid grid--c grid--c--split grid--c--split--3"
        >
          <button
            id="users-window-close"
            class="control control--left control--small blue__glow"
          >
            <i class="control__icon control__icon--small far fa-times"></i>
          </button>
          <span class="window__title blue__glow">USERS</span>
          <button class="control control--right control--small blue__glow">
            <i class="control__icon control__icon--small far fa-bars"></i>
          </button>
        </div>
        <div class="inbox__people bordered padded"></div>
      </div>-->
    </div>

    <div id="view" class="">
      <div id="loading_text" class="pulse">
        <span>LOADING</span>
      </div>
      <div id="error_text">
        <span id="error_text_text" class="red__glow"></span>
      </div>
    </div>
    <script src="./init.js"></script>
  </body>
</html>
